@import "tailwindcss";
@import "flowbite/dist/flowbite.css";

body{
  font-family: "Inter", sans-serif;
}

.card-stacker:hover .card{
  margin-left: 10px;
}
.cards-wrapper:hover .card {
  opacity: 0.5;
  scale: 0.98;
  filter: grayscale(20%);
  transition: 0.3s ease;
}

.cards-wrapper .card:hover {
  opacity: 1 !important;
  scale: 1.05 !important;
  filter: none !important;
}